# Introduction to SQL Using Python: Filtering Data with the WHERE Statement

Structured Query Language, more popularly known as SQL is a powerful Relational Database language. This language allows you to access and manipulate data stored in a SQL database. This tutorial will show you how to access the power of SQL using Python and how data can be filtered using the WHERE statement.

The first step is to import the necessary libraries. You will need to import sqlite3, this will allow you to connect to a SQL database and run SQL queries. You will also need to import pandas. Pandas will allow you to view the queried results in a clean, easy-to-read data frame format.

In [1]:
# Import necessary libraries

import sqlite3
import pandas as pd

For this tutorial, the Football Delphi database will be used. You can download the database here, https://www.kaggle.com/laudanum/footballdelphi. Take some time to read the description to learn more about the database and tables we will be using.

Next you will need to connect to the database and create a cursor object. Later we will call the cursors execute method to run SQL queries.

In [2]:
# Connect to database
conn = sqlite3.connect('''database.sqlite''')

# Create cursor object
cur = conn.cursor()

You should now be connected to the Football Delphi database. This is a relational database. A relational database includes tables. Each table is its own unique dataset that stores information. Each table is organized by columns and rows. This database includes four tables:
    - Unique_Teams
    - Matches
    - Teams
    - Teams_in_Matches

To run a SQL query and view it in an easy to view data frame format we will use the following code:

In [ ]:
cur.execute('''Enter SQL query here;''') # Runs SQL query
data = pd.DataFrame(cur.fetchall()) # Converts SQL query results into dataframe format
data.columns = [x[0] for x in cur.description] # Labels the columns of the dataframe
data # View SQL results dataframe

For the first query, we will preview the contents of the table, __Unique_Teams__. To do this we can run the following query:

In [3]:
# View Unique_Teams dataframe

cur.execute('''SELECT * 
               FROM Unique_Teams;''')
Unique_Teams_df = pd.DataFrame(cur.fetchall())
Unique_Teams_df.columns = [x[0] for x in cur.description]
Unique_Teams_df

               TeamName  Unique_Team_ID
0         Bayern Munich               1
1              Dortmund               2
2            Leverkusen               3
3            RB Leipzig               4
4            Schalke 04               5
5            M'gladbach               6
6             Wolfsburg               7
7               FC Koln               8
8            Hoffenheim               9
9                Hertha              10
10                Mainz              11
11              Hamburg              12
12        Werder Bremen              13
13        Ein Frankfurt              14
14             Augsburg              15
15             Freiburg              16
16            Stuttgart              17
17             Hannover              18
18           Ingolstadt              19
19            Darmstadt              20
20            Paderborn              21
21             Nurnberg              22
22         Braunschweig              23
23       Greuther Furth              24
24   Fortuna Dusseldorf              25
25       Kaiserslautern              26
26             St Pauli              27
27               Bochum              28
28            Karlsruhe              29
29            Bielefeld              30
..                  ...             ...
98           Man United              99
99                  QPR             100
100      Sheffield Weds             101
101             Swindon             102
102      Crystal Palace             103
103           Leicester             104
104       Nott'm Forest             105
105              Bolton             106
106       Middlesbrough             107
107               Derby             108
108          Sunderland             109
109            Barnsley             110
110            Charlton             111
111             Watford             112
112            Bradford             113
113              Fulham             114
114          Birmingham             115
115         Middlesboro             116
116           West Brom             117
117          Portsmouth             118
118              Wolves             119
119               Wigan             120
120             Reading             121
121                Hull             122
122               Stoke             123
123             Burnley             124
124           Blackpool             125
125             Swansea             126
126             Cardiff             127
127         Bournemouth             128

[128 rows x 2 columns]

The __SELECT__ statement tells the database what columns we are trying to pull from the dataset. The asterisk, (*), tells the database that we want to select all the columns available in the table.
The __FROM__ statement tells the database that we want to select data from the table, __Unique_Teams__.
The SQL query is ended by a semicolon, (;). This tells the database that you have ended your query similar to the way a period ends a sentence.

You can practice this on your own by trying to query all the contents of the __Matches__ table and comparing your query to the answer below.

In [4]:
# View Matches dataframe

cur.execute('''SELECT * 
               FROM Matches;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
25,26,D1,2009,2010-04-17,Stuttgart,Leverkusen,2,1,H
26,27,D1,2009,2010-03-20,Dortmund,Leverkusen,3,0,H
27,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
28,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
29,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
...,...,...,...,...,...,...,...,...,...
24595,46745,E0,2016,2017-05-06,Swansea,Everton,1,0,H
24596,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
24597,46747,E0,2016,2017-05-07,Liverpool,Southampton,0,0,D
24598,46748,E0,2016,2017-05-08,Chelsea,Middlesbrough,3,0,H
24599,46749,E0,2016,2017-05-10,Southampton,Arsenal,0,2,A
24600,46750,E0,2016,2017-05-12,Everton,Watford,1,0,H
24601,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
24602,46752,E0,2016,2017-05-13,Bournemouth,Burnley,2,1,H
24603,46753,E0,2016,2017-05-13,Man City,Leicester,2,1,H
24604,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
24605,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
24606,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
24607,46757,E0,2016,2017-05-14,Crystal Palace,Hull,4,0,H
24608,46758,E0,2016,2017-05-14,Tottenham,Man United,2,1,H
24609,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
24610,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
24611,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
24612,46762,E0,2016,2017-05-16,Man City,West Brom,3,1,H
24613,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
24614,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
24615,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H
24616,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
24617,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
24618,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
24619,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

This is the table we will use for the rest of the tutorial. There are 9 columns in the __Matches__ table. The Kaggle page this database was downloaded from describes each column as follows:

 - Match_ID (int): unique ID per match
 - Div (str): identifies the division the match was played in (D1 = Bundesliga, D2 = Bundesliga 2, E0 = English Premier League)
 - Season (int): Season the match took place in (usually covering the period of August till May of the following year)
 - Date (str): Date of the match
 - HomeTeam (str): Name of the home team
 - AwayTeam (str): Name of the away team
 - FTHG (int) (Full Time Home Goals): Number of goals scored by the home team
 - FTAG (int) (Full Time Away Goals): Number of goals scored by the away team
 - FTR (str) (Full Time Result): 3-way result of the match (H = Home Win, D = Draw, A = Away Win)
 
Perphaps we only want to select the column, __Match_ID__. To do this we will just write __Match_ID__ in our select statement instead of the asterisk. The code below shows how this is done:

In [5]:
# View Match_ID from Matches

cur.execute('''SELECT Match_ID
               FROM Matches;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

       Match_ID
0             1
1             2
2             3
3             4
4             5
5             6
6             7
7             8
8             9
9            10
10           11
11           12
12           13
13           14
14           15
15           16
16           17
17           18
18           19
19           20
20           21
21           22
22           23
23           24
24           25
25           26
26           27
27           28
28           29
29           30
...         ...
24595     46745
24596     46746
24597     46747
24598     46748
24599     46749
24600     46750
24601     46751
24602     46752
24603     46753
24604     46754
24605     46755
24606     46756
24607     46757
24608     46758
24609     46759
24610     46760
24611     46761
24612     46762
24613     46763
24614     46764
24615     46765
24616     46766
24617     46767
24618     46768
24619     46769
24620     46770
24621     46771
24622     46772
24623     46773
24624     46774

[24625 rows x 1 columns]

Try selecting only the column __HomeTeam__ from the __Matches__ table and compare your code to the query below:

In [6]:
# Select HomeTeam from the Matches table

cur.execute('''SELECT HomeTeam
               FROM Matches;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

                 HomeTeam
0              Oberhausen
1             Munich 1860
2           Frankfurt FSV
3           Frankfurt FSV
4                   Ahlen
5            Union Berlin
6               Paderborn
7               Bielefeld
8          Kaiserslautern
9           Hansa Rostock
10         Greuther Furth
11                Koblenz
12             Oberhausen
13                Cottbus
14               Duisburg
15     Fortuna Dusseldorf
16                 Aachen
17               Augsburg
18               St Pauli
19            Munich 1860
20                 Bochum
21          Bayern Munich
22             M'gladbach
23                  Mainz
24                Hamburg
25              Stuttgart
26               Dortmund
27             Schalke 04
28               Freiburg
29          Werder Bremen
...                   ...
24595             Swansea
24596             Arsenal
24597           Liverpool
24598             Chelsea
24599         Southampton
24600             Everton
24601           West Brom
24602         Bournemouth
24603            Man City
24604       Middlesbrough
24605               Stoke
24606          Sunderland
24607      Crystal Palace
24608           Tottenham
24609            West Ham
24610             Chelsea
24611             Arsenal
24612            Man City
24613         Southampton
24614           Leicester
24615             Arsenal
24616             Burnley
24617             Chelsea
24618                Hull
24619           Leicester
24620           Liverpool
24621          Man United
24622         Southampton
24623             Swansea
24624             Watford

[24625 rows x 1 columns]

You can select multiple columns by typing the name of each column in the select statement and separating each column name by a comma, (,). You can see the names of both the Home Teams and Away Teams in each match below:

In [7]:
# View HomeTeam and AwayTeam from Matches

cur.execute('''SELECT HomeTeam,
                      AwayTeam
               FROM Matches;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

                 HomeTeam        AwayTeam
0              Oberhausen  Kaiserslautern
1             Munich 1860  Kaiserslautern
2           Frankfurt FSV  Kaiserslautern
3           Frankfurt FSV       Karlsruhe
4                   Ahlen       Karlsruhe
5            Union Berlin       Karlsruhe
6               Paderborn       Karlsruhe
7               Bielefeld       Karlsruhe
8          Kaiserslautern       Karlsruhe
9           Hansa Rostock       Karlsruhe
10         Greuther Furth       Karlsruhe
11                Koblenz       Karlsruhe
12             Oberhausen       Karlsruhe
13                Cottbus       Karlsruhe
14               Duisburg       Karlsruhe
15     Fortuna Dusseldorf       Karlsruhe
16                 Aachen       Karlsruhe
17               Augsburg       Karlsruhe
18               St Pauli       Karlsruhe
19            Munich 1860       Karlsruhe
20                 Bochum      Leverkusen
21          Bayern Munich      Leverkusen
22             M'gladbach      Leverkusen
23                  Mainz      Leverkusen
24                Hamburg      Leverkusen
25              Stuttgart      Leverkusen
26               Dortmund      Leverkusen
27             Schalke 04      Leverkusen
28               Freiburg      Leverkusen
29          Werder Bremen      Leverkusen
...                   ...             ...
24595             Swansea         Everton
24596             Arsenal      Man United
24597           Liverpool     Southampton
24598             Chelsea   Middlesbrough
24599         Southampton         Arsenal
24600             Everton         Watford
24601           West Brom         Chelsea
24602         Bournemouth         Burnley
24603            Man City       Leicester
24604       Middlesbrough     Southampton
24605               Stoke         Arsenal
24606          Sunderland         Swansea
24607      Crystal Palace            Hull
24608           Tottenham      Man United
24609            West Ham       Liverpool
24610             Chelsea         Watford
24611             Arsenal      Sunderland
24612            Man City       West Brom
24613         Southampton      Man United
24614           Leicester       Tottenham
24615             Arsenal         Everton
24616             Burnley        West Ham
24617             Chelsea      Sunderland
24618                Hull       Tottenham
24619           Leicester     Bournemouth
24620           Liverpool   Middlesbrough
24621          Man United  Crystal Palace
24622         Southampton           Stoke
24623             Swansea       West Brom
24624             Watford        Man City

[24625 rows x 2 columns]

Practice selecting multiple columns by selecting __Match_ID__ and __Date__ from the __Matches__ table and compare your query to the code below:

In [9]:
# View Match_ID and Date from Matches

cur.execute('''SELECT Match_ID,
                      Date
               FROM Matches;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

       Match_ID        Date
0             1  2010-04-04
1             2  2009-11-01
2             3  2009-10-04
3             4  2010-02-21
4             5  2009-12-06
5             6  2010-04-03
6             7  2009-08-14
7             8  2010-03-08
8             9  2009-09-26
9            10  2009-11-21
10           11  2009-12-19
11           12  2010-04-16
12           13  2010-03-21
13           14  2009-09-14
14           15  2010-05-02
15           16  2009-10-30
16           17  2010-01-15
17           18  2009-10-18
18           19  2010-02-05
19           20  2009-08-24
20           21  2010-02-06
21           22  2009-11-22
22           23  2010-05-08
23           24  2009-08-08
24           25  2009-10-17
25           26  2010-04-17
26           27  2010-03-20
27           28  2009-10-31
28           29  2009-08-22
29           30  2010-02-21
...         ...         ...
24595     46745  2017-05-06
24596     46746  2017-05-07
24597     46747  2017-05-07
24598     46748  2017-05-08
24599     46749  2017-05-10
24600     46750  2017-05-12
24601     46751  2017-05-12
24602     46752  2017-05-13
24603     46753  2017-05-13
24604     46754  2017-05-13
24605     46755  2017-05-13
24606     46756  2017-05-13
24607     46757  2017-05-14
24608     46758  2017-05-14
24609     46759  2017-05-14
24610     46760  2017-05-15
24611     46761  2017-05-16
24612     46762  2017-05-16
24613     46763  2017-05-17
24614     46764  2017-05-18
24615     46765  2017-05-21
24616     46766  2017-05-21
24617     46767  2017-05-21
24618     46768  2017-05-21
24619     46769  2017-05-21
24620     46770  2017-05-21
24621     46771  2017-05-21
24622     46772  2017-05-21
24623     46773  2017-05-21
24624     46774  2017-05-21

[24625 rows x 2 columns]

# The WHERE Statement

There are 24,625 rows in the Matches table. This makes it difficult to find specific information. Perhaps we only wanted information from the 2015 Season. To do this, we can add a __WHERE__ statement to our SQL query. The __WHERE__ statement allows us to select information that meets a certain condition. To query the information only pertaining to the 2015 season from the __Matches__ table, we can use the query below:

In [10]:
# View all columns from Matches from the 2015 season

cur.execute('''SELECT *
               FROM Matches
               WHERE Season = 2015;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,3540,D1,2015,2015-10-17,Werder Bremen,Bayern Munich,0,1,A
1,3541,D1,2015,2016-03-05,Dortmund,Bayern Munich,0,0,D
2,3542,D1,2015,2016-03-19,FC Koln,Bayern Munich,0,1,A
3,3543,D1,2015,2016-01-22,Hamburg,Bayern Munich,1,2,A
4,3544,D1,2015,2015-12-19,Hannover,Bayern Munich,0,1,A
5,3545,D1,2015,2016-02-27,Wolfsburg,Bayern Munich,0,2,A
6,3546,D1,2015,2016-04-09,Stuttgart,Bayern Munich,1,3,A
7,3547,D1,2015,2015-09-26,Mainz,Bayern Munich,0,3,A
8,3548,D1,2015,2016-02-06,Leverkusen,Bayern Munich,0,0,D
9,3549,D1,2015,2016-02-14,Augsburg,Bayern Munich,1,3,A
10,3550,D1,2015,2015-08-22,Hoffenheim,Bayern Munich,1,2,A
11,3551,D1,2015,2016-05-07,Ingolstadt,Bayern Munich,1,2,A
12,3552,D1,2015,2015-11-21,Schalke 04,Bayern Munich,1,3,A
13,3553,D1,2015,2015-12-05,M'gladbach,Bayern Munich,3,1,H
14,3554,D1,2015,2016-04-23,Hertha,Bayern Munich,0,2,A
15,3555,D1,2015,2015-10-30,Ein Frankfurt,Bayern Munich,0,0,D
16,3556,D1,2015,2015-09-19,Darmstadt,Bayern Munich,0,3,A
17,3557,D1,2015,2016-04-10,Schalke 04,Dortmund,2,2,D
18,3558,D1,2015,2016-04-23,Stuttgart,Dortmund,0,3,A
19,3559,D1,2015,2015-10-04,Bayern Munich,Dortmund,5,1,H
20,3560,D1,2015,2015-11-20,Hamburg,Dortmund,3,1,H
21,3561,D1,2015,2015-12-05,Wolfsburg,Dortmund,1,2,A
22,3562,D1,2015,2015-09-23,Hoffenheim,Dortmund,1,1,D
23,3563,D1,2015,2016-03-02,Darmstadt,Dortmund,0,2,A
24,3564,D1,2015,2016-01-23,M'gladbach,Dortmund,1,3,A
25,3565,D1,2015,2015-08-23,Ingolstadt,Dortmund,0,4,A
26,3566,D1,2015,2015-10-31,Werder Bremen,Dortmund,1,3,A
27,3567,D1,2015,2016-03-20,Augsburg,Dortmund,1,3,A
28,3568,D1,2015,2015-09-12,Hannover,Dortmund,2,4,A
29,3569,D1,2015,2016-05-07,Ein Frankfurt,Dortmund,1,0,H
...,...,...,...,...,...,...,...,...,...
962,46365,E0,2015,2016-04-30,Watford,Aston Villa,3,2,H
963,46366,E0,2015,2016-04-30,West Brom,West Ham,0,3,A
964,46367,E0,2015,2016-05-01,Man United,Leicester,1,1,D
965,46368,E0,2015,2016-05-01,Southampton,Man City,4,2,H
966,46369,E0,2015,2016-05-01,Swansea,Liverpool,3,1,H
967,46370,E0,2015,2016-05-02,Chelsea,Tottenham,2,2,D
968,46371,E0,2015,2016-05-07,Aston Villa,Newcastle,0,0,D
969,46372,E0,2015,2016-05-07,Bournemouth,West Brom,1,1,D
970,46373,E0,2015,2016-05-07,Crystal Palace,Stoke,2,1,H
971,46374,E0,2015,2016-05-07,Leicester,Everton,3,1,H
972,46375,E0,2015,2016-05-07,Norwich,Man United,0,1,A
973,46376,E0,2015,2016-05-07,Sunderland,Chelsea,3,2,H
974,46377,E0,2015,2016-05-07,West Ham,Swansea,1,4,A
975,46378,E0,2015,2016-05-08,Liverpool,Watford,2,0,H
976,46379,E0,2015,2016-05-08,Man City,Arsenal,2,2,D
977,46380,E0,2015,2016-05-08,Tottenham,Southampton,1,2,A
978,46381,E0,2015,2016-05-10,West Ham,Man United,3,2,H
979,46382,E0,2015,2016-05-11,Liverpool,Chelsea,1,1,D
980,46383,E0,2015,2016-05-11,Norwich,Watford,4,2,H
981,46384,E0,2015,2016-05-11,Sunderland,Everton,3,0,H
982,46385,E0,2015,2016-05-15,Arsenal,Aston Villa,4,0,H
983,46386,E0,2015,2016-05-15,Chelsea,Leicester,1,1,D
984,46387,E0,2015,2016-05-15,Everton,Norwich,3,0,H
985,46388,E0,2015,2016-05-15,Newcastle,Tottenham,5,1,H
986,46389,E0,2015,2016-05-15,Southampton,Crystal Palace,4,1,H
987,46390,E0,2015,2016-05-15,Stoke,West Ham,2,1,H
988,46391,E0,2015,2016-05-15,Swansea,Man City,1,1,D
989,46392,E0,2015,2016-05-15,Watford,Sunderland,2,2,D
990,46393,E0,2015,2016-05-15,West Brom,Liverpool,1,1,D
991,46394,E0,2015,2016-05-17,Man United,Bournemouth,3,1,H

Now we only have 992 rows and each row is from a 2015 season match. This allows us to see the data from the 2015 season much easier than scrolling through the entire table as queried before. Just as the __SELECT__ statement allows us to return specified columns from the data table, the __WHERE__ statement allows us to return specific rows from the dataset that meet a certain condition, like Season = 2015.
To practice using the __WHERE__ statement, write a query that selects all the columns from the __Matches__ table where the Full Time Home Goals (__FTHG__) is equivalent to 5 and compare your query to the query below:

In [11]:
# View all columns from Matches where FTHG = 5

cur.execute('''SELECT *
               FROM Matches
               WHERE FTHG = 5;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,125,D1,2009,2009-12-12,M'gladbach,Hannover,5,3,H
1,143,D2,2009,2009-09-20,Augsburg,Hansa Rostock,5,2,H
2,167,D1,2009,2009-12-19,Bayern Munich,Hertha,5,2,H
3,170,D1,2009,2009-09-27,Hoffenheim,Hertha,5,1,H
4,280,D2,2009,2009-09-18,Paderborn,Cottbus,5,1,H
5,320,D2,2009,2010-03-14,St Pauli,Oberhausen,5,3,H
6,379,D2,2009,2009-09-13,Union Berlin,Paderborn,5,4,H
7,449,D2,2009,2010-01-17,Duisburg,Frankfurt FSV,5,0,H
8,562,D1,2010,2011-04-10,M'gladbach,FC Koln,5,1,H
9,601,D1,2010,2010-09-22,Dortmund,Kaiserslautern,5,0,H
10,603,D1,2010,2011-01-22,Bayern Munich,Kaiserslautern,5,1,H
11,618,D2,2010,2010-09-13,Cottbus,Karlsruhe,5,5,D
12,632,D2,2010,2011-03-18,Munich 1860,Karlsruhe,5,1,H
13,640,D1,2010,2011-04-17,Bayern Munich,Leverkusen,5,1,H
14,668,D1,2010,2010-11-27,Kaiserslautern,Schalke 04,5,0,H
15,804,D1,2010,2011-03-05,Nurnberg,St Pauli,5,0,H
16,1091,D2,2010,2011-03-07,Augsburg,Fortuna Dusseldorf,5,2,H
17,1179,D1,2011,2011-10-22,Dortmund,FC Koln,5,0,H
18,1180,D1,2011,2011-08-13,Schalke 04,FC Koln,5,1,H
19,1199,D1,2011,2011-08-20,Werder Bremen,Freiburg,5,3,H
20,1211,D1,2011,2011-08-20,Bayern Munich,Hamburg,5,0,H
21,1254,D2,2011,2011-10-29,Dresden,Karlsruhe,5,1,H
22,1330,D1,2011,2011-11-19,M'gladbach,Werder Bremen,5,0,H
23,1346,D1,2011,2011-12-17,Schalke 04,Werder Bremen,5,0,H
24,1389,D2,2011,2012-04-29,Union Berlin,Hansa Rostock,5,4,H
25,1406,D1,2011,2012-02-11,Stuttgart,Hertha,5,0,H
26,1468,D1,2011,2011-11-05,Dortmund,Wolfsburg,5,1,H
27,1564,D2,2011,2011-12-16,Greuther Furth,Union Berlin,5,0,H
28,1610,D2,2011,2012-05-06,St Pauli,Paderborn,5,0,H
29,1611,D2,2011,2012-02-12,Greuther Furth,Paderborn,5,1,H
...,...,...,...,...,...,...,...,...,...
410,44742,E0,2011,2012-02-11,Tottenham,Newcastle,5,0,H
411,44751,E0,2011,2012-02-26,Arsenal,Tottenham,5,2,H
412,44761,E0,2011,2012-03-04,Fulham,Wolves,5,0,H
413,44876,E0,2012,2012-08-18,Fulham,Norwich,5,0,H
414,44984,E0,2012,2012-11-17,Arsenal,Tottenham,5,2,H
415,44986,E0,2012,2012-11-17,Man City,Aston Villa,5,0,H
416,45094,E0,2012,2013-01-19,Liverpool,Norwich,5,0,H
417,45104,E0,2012,2013-01-23,Arsenal,West Ham,5,1,H
418,45135,E0,2012,2013-02-17,Liverpool,Swansea,5,0,H
419,45252,E0,2012,2013-05-19,West Brom,Man United,5,5,D
420,45388,E0,2013,2013-12-04,Liverpool,Norwich,5,1,H
421,45431,E0,2013,2013-12-26,Newcastle,Stoke,5,1,H
422,45498,E0,2013,2014-02-08,Liverpool,Arsenal,5,1,H
423,45550,E0,2013,2014-03-22,Man City,Fulham,5,0,H
424,45580,E0,2013,2014-04-07,Tottenham,Sunderland,5,1,H
425,45682,E0,2014,2014-09-21,Leicester,Man United,5,3,H
426,45833,E0,2014,2015-01-01,Tottenham,Chelsea,5,3,H
427,45863,E0,2014,2015-02-01,Arsenal,Aston Villa,5,0,H
428,45889,E0,2014,2015-02-21,Man City,Newcastle,5,0,H
429,46011,E0,2014,2015-05-24,Leicester,QPR,5,1,H
430,46098,E0,2015,2015-10-17,Man City,Bournemouth,5,1,H
431,46147,E0,2015,2015-11-28,Crystal Palace,Newcastle,5,1,H
432,46266,E0,2015,2016-02-13,Chelsea,Newcastle,5,1,H
433,46388,E0,2015,2016-05-15,Newcastle,Tottenham,5,1,H
434,46447,E0,2016,2016-09-24,Liverpool,Hull,5,1,H
435,46497,E0,2016,2016-11-05,Chelsea,Everton,5,0,H
436,46520,E0,2016,2016-11-26,Swansea,Crystal Palace,5,4,H
437,46529,E0,2016,2016-12-03,Tottenham,Swansea,5,0,H
438,46744,E0,2016,2017-05-06,Man City,Crystal Palace,5,0,H
439,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H

So far we have only used numerical data in the __WHERE__ statement. In order to use string data in the __WHERE__ statement, we need to wrap quotation marks around the data we are using as a condition. To query all the data where Arsenal is the Home Team we can use the query below:

In [12]:
# View all data from Matches where Arsenal is the Home Team

cur.execute('''SELECT *
               FROM Matches
               WHERE HomeTeam = 'Arsenal';''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,37491,E0,1993,1993-08-14,Arsenal,Coventry,0,3,A
1,37525,E0,1993,1993-08-24,Arsenal,Leeds,2,1,H
2,37536,E0,1993,1993-08-28,Arsenal,Everton,2,0,H
3,37557,E0,1993,1993-09-11,Arsenal,Ipswich,4,0,H
4,37579,E0,1993,1993-09-25,Arsenal,Southampton,1,0,H
5,37601,E0,1993,1993-10-16,Arsenal,Man City,0,0,D
6,37623,E0,1993,1993-10-30,Arsenal,Norwich,0,0,D
7,37634,E0,1993,1993-11-06,Arsenal,Aston Villa,1,2,A
8,37666,E0,1993,1993-11-27,Arsenal,Newcastle,2,1,H
9,37688,E0,1993,1993-12-06,Arsenal,Tottenham,1,1,D
10,37705,E0,1993,1993-12-12,Arsenal,Sheffield Weds,1,0,H
11,37731,E0,1993,1993-12-29,Arsenal,Sheffield United,3,0,H
12,37748,E0,1993,1994-01-03,Arsenal,QPR,0,0,D
13,37766,E0,1993,1994-01-22,Arsenal,Oldham,1,1,D
14,37804,E0,1993,1994-02-26,Arsenal,Blackburn,1,0,H
15,37847,E0,1993,1994-03-22,Arsenal,Man United,2,2,D
16,37849,E0,1993,1994-03-26,Arsenal,Liverpool,1,0,H
17,37867,E0,1993,1994-04-02,Arsenal,Swindon,1,1,D
18,37896,E0,1993,1994-04-16,Arsenal,Chelsea,1,0,H
19,37907,E0,1993,1994-04-19,Arsenal,Wimbledon,1,1,D
20,37925,E0,1993,1994-04-30,Arsenal,West Ham,0,2,A
21,37953,E0,1994,1994-08-20,Arsenal,Man City,3,0,H
22,37989,E0,1994,1994-08-31,Arsenal,Blackburn,0,0,D
23,38015,E0,1994,1994-09-18,Arsenal,Newcastle,2,3,A
24,38029,E0,1994,1994-10-01,Arsenal,Crystal Palace,1,2,A
25,38051,E0,1994,1994-10-15,Arsenal,Chelsea,3,1,H
26,38069,E0,1994,1994-10-23,Arsenal,Coventry,2,1,H
27,38098,E0,1994,1994-11-06,Arsenal,Sheffield Weds,0,0,D
28,38118,E0,1994,1994-11-26,Arsenal,Man United,0,0,D
29,38152,E0,1994,1994-12-17,Arsenal,Leeds,1,3,A
...,...,...,...,...,...,...,...,...,...
430,46195,E0,2015,2015-12-28,Arsenal,Bournemouth,2,0,H
431,46205,E0,2015,2016-01-02,Arsenal,Newcastle,1,0,H
432,46243,E0,2015,2016-01-24,Arsenal,Chelsea,0,1,A
433,46245,E0,2015,2016-02-02,Arsenal,Southampton,0,0,D
434,46272,E0,2015,2016-02-14,Arsenal,Leicester,2,1,H
435,46288,E0,2015,2016-03-02,Arsenal,Swansea,1,2,A
436,46318,E0,2015,2016-04-02,Arsenal,Watford,4,0,H
437,46345,E0,2015,2016-04-17,Arsenal,Crystal Palace,1,1,D
438,46353,E0,2015,2016-04-21,Arsenal,West Brom,2,0,H
439,46361,E0,2015,2016-04-30,Arsenal,Norwich,1,0,H
440,46385,E0,2015,2016-05-15,Arsenal,Aston Villa,4,0,H
441,46402,E0,2016,2016-08-14,Arsenal,Liverpool,3,4,A
442,46425,E0,2016,2016-09-10,Arsenal,Southampton,2,1,H
443,46445,E0,2016,2016-09-24,Arsenal,Chelsea,3,0,H
444,46465,E0,2016,2016-10-15,Arsenal,Swansea,3,2,H
445,46475,E0,2016,2016-10-22,Arsenal,Middlesbrough,0,0,D
446,46500,E0,2016,2016-11-06,Arsenal,Tottenham,1,1,D
447,46521,E0,2016,2016-11-27,Arsenal,Bournemouth,3,1,H
448,46535,E0,2016,2016-12-10,Arsenal,Stoke,3,1,H
449,46565,E0,2016,2016-12-26,Arsenal,West Brom,1,0,H
450,46583,E0,2016,2017-01-01,Arsenal,Crystal Palace,2,0,H
451,46612,E0,2016,2017-01-22,Arsenal,Burnley,2,1,H
452,46615,E0,2016,2017-01-31,Arsenal,Watford,1,2,A
453,46635,E0,2016,2017-02-11,Arsenal,Hull,2,0,H
454,46686,E0,2016,2017-04-02,Arsenal,Man City,2,2,D
455,46692,E0,2016,2017-04-05,Arsenal,West Ham,3,0,H
456,46725,E0,2016,2017-04-26,Arsenal,Leicester,1,0,H
457,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
458,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
459,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H

To practice using string data as a condition in the __WHERE__ statement, select all the columns that are in the D2 division and compare your query to the one below:

In [13]:
# View all data from Matches where the division is D2

cur.execute('''SELECT *
               FROM Matches
               WHERE Div = 'D2';''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,140,D2,2009,2009-08-21,Union Berlin,Hansa Rostock,1,0,H
21,141,D2,2009,2010-02-05,Oberhausen,Hansa Rostock,2,1,H
22,142,D2,2009,2010-02-27,Greuther Furth,Hansa Rostock,1,0,H
23,143,D2,2009,2009-09-20,Augsburg,Hansa Rostock,5,2,H
24,144,D2,2009,2009-11-09,Aachen,Hansa Rostock,1,0,H
25,145,D2,2009,2010-04-23,Kaiserslautern,Hansa Rostock,0,1,A
26,146,D2,2009,2010-03-14,Paderborn,Hansa Rostock,2,2,D
27,147,D2,2009,2010-02-14,Koblenz,Hansa Rostock,0,0,D
28,148,D2,2009,2010-03-28,St Pauli,Hansa Rostock,2,0,H
29,149,D2,2009,2009-11-27,Frankfurt FSV,Hansa Rostock,0,1,A
...,...,...,...,...,...,...,...,...,...
7661,37460,D2,2004,2005-05-01,Ein Trier,Karlsruhe,0,2,A
7662,37461,D2,2004,2005-05-01,Munich 1860,RW Essen,0,0,D
7663,37462,D2,2004,2005-05-02,Erzgebirge Aue,FC Koln,1,2,A
7664,37463,D2,2004,2005-05-06,Dresden,Erzgebirge Aue,1,0,H
7665,37464,D2,2004,2005-05-06,FC Koln,Ein Trier,1,2,A
7666,37465,D2,2004,2005-05-06,Karlsruhe,Erfurt,2,0,H
7667,37466,D2,2004,2005-05-08,Burghausen,Cottbus,0,0,D
7668,37467,D2,2004,2005-05-08,RW Essen,Greuther Furth,0,2,A
7669,37468,D2,2004,2005-05-08,Munich 1860,Aachen,3,0,H
7670,37469,D2,2004,2005-05-08,Oberhausen,Ahlen,2,2,D
7671,37470,D2,2004,2005-05-08,Saarbrucken,Unterhaching,0,1,A
7672,37471,D2,2004,2005-05-09,Ein Frankfurt,Duisburg,0,1,A
7673,37472,D2,2004,2005-05-15,Ahlen,RW Essen,3,1,H
7674,37473,D2,2004,2005-05-15,Burghausen,Aachen,2,3,A
7675,37474,D2,2004,2005-05-15,Cottbus,Ein Frankfurt,0,3,A
7676,37475,D2,2004,2005-05-15,Duisburg,Karlsruhe,1,4,A
7677,37476,D2,2004,2005-05-15,Ein Trier,Dresden,2,4,A
7678,37477,D2,2004,2005-05-15,Erfurt,FC Koln,0,1,A
7679,37478,D2,2004,2005-05-15,Erzgebirge Aue,Saarbrucken,2,0,H
7680,37479,D2,2004,2005-05-15,Greuther Furth,Munich 1860,2,3,A
7681,37480,D2,2004,2005-05-15,Unterhaching,Oberhausen,0,2,A
7682,37481,D2,2004,2005-05-22,Aachen,Greuther Furth,0,1,A
7683,37482,D2,2004,2005-05-22,Dresden,Erfurt,2,1,H
7684,37483,D2,2004,2005-05-22,Ein Frankfurt,Burghausen,3,0,H
7685,37484,D2,2004,2005-05-22,RW Essen,Unterhaching,0,1,A
7686,37485,D2,2004,2005-05-22,FC Koln,Duisburg,4,0,H
7687,37486,D2,2004,2005-05-22,Karlsruhe,Cottbus,3,2,H
7688,37487,D2,2004,2005-05-22,Munich 1860,Ahlen,3,4,A
7689,37488,D2,2004,2005-05-22,Oberhausen,Erzgebirge Aue,1,1,D
7690,37489,D2,2004,2005-05-22,Saarbrucken,Ein Trier,1,1,D

## Comparison Operators

So far, we have only used the equal sign (=) as an operator in the __WHERE__ statement. In addition to the equality sign you can use other operators including, 
    - > (greater than)
    - < (less than)
    - >= (greater than or equal to)
    - <= (less than or equal to)
    - != (not equal to)
To see all the data from the __Matches__ table where the Away Team scored 3 or more times, we can use the following query:

In [15]:
# View all data from Matches where the Away Team scored 3 or more times

cur.execute('''SELECT *
               FROM Matches
               WHERE FTAG >= 3;''')
Matches_df =pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
1,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
2,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
3,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
4,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
5,34,D1,2009,2009-09-12,Wolfsburg,Leverkusen,2,3,A
6,35,D1,2009,2010-01-24,Hoffenheim,Leverkusen,0,3,A
7,38,D1,2009,2009-11-21,Wolfsburg,Nurnberg,2,3,A
8,45,D1,2009,2010-01-30,Hannover,Nurnberg,1,3,A
9,66,D1,2009,2010-03-06,Ein Frankfurt,Schalke 04,1,4,A
10,82,D1,2009,2009-09-26,Ein Frankfurt,Stuttgart,0,3,A
11,84,D1,2009,2010-02-20,FC Koln,Stuttgart,1,5,A
12,90,D1,2009,2009-08-30,Hertha,Werder Bremen,2,3,A
13,93,D1,2009,2010-02-13,Hannover,Werder Bremen,1,5,A
14,95,D1,2009,2009-11-21,Freiburg,Werder Bremen,0,6,A
15,97,D1,2009,2010-04-17,Wolfsburg,Werder Bremen,2,4,A
16,101,D1,2009,2010-01-30,M'gladbach,Werder Bremen,4,3,H
17,104,D1,2009,2009-10-25,Bochum,Werder Bremen,1,4,A
18,119,D1,2009,2009-12-19,Hannover,Bochum,2,3,A
19,125,D1,2009,2009-12-12,M'gladbach,Hannover,5,3,H
20,131,D1,2009,2010-05-08,Bochum,Hannover,0,3,A
21,159,D1,2009,2010-03-21,Wolfsburg,Hertha,1,5,A
22,160,D1,2009,2010-04-03,FC Koln,Hertha,0,3,A
23,165,D1,2009,2010-02-21,Freiburg,Hertha,0,3,A
24,169,D1,2009,2010-01-16,Hannover,Hertha,0,3,A
25,186,D1,2009,2009-10-31,Wolfsburg,Mainz,3,3,D
26,187,D1,2009,2009-09-19,Bochum,Mainz,2,3,A
27,208,D2,2009,2009-10-16,Oberhausen,St Pauli,1,3,A
28,211,D2,2009,2009-08-17,Aachen,St Pauli,0,5,A
29,213,D2,2009,2009-09-13,Frankfurt FSV,St Pauli,2,3,A
...,...,...,...,...,...,...,...,...,...
2843,46571,E0,2016,2016-12-26,Swansea,West Ham,1,4,A
2844,46574,E0,2016,2016-12-28,Southampton,Tottenham,1,4,A
2845,46582,E0,2016,2016-12-31,Swansea,Bournemouth,0,3,A
2846,46584,E0,2016,2017-01-01,Watford,Tottenham,1,4,A
2847,46591,E0,2016,2017-01-03,Bournemouth,Arsenal,3,3,D
2848,46597,E0,2016,2017-01-14,Leicester,Chelsea,0,3,A
2849,46598,E0,2016,2017-01-14,Sunderland,Stoke,1,3,A
2850,46599,E0,2016,2017-01-14,Swansea,Arsenal,0,4,A
2851,46607,E0,2016,2017-01-21,Liverpool,Swansea,2,3,A
2852,46609,E0,2016,2017-01-21,Middlesbrough,West Ham,1,3,A
2853,46624,E0,2016,2017-02-01,West Ham,Man City,0,4,A
2854,46626,E0,2016,2017-02-04,Crystal Palace,Sunderland,0,4,A
2855,46627,E0,2016,2017-02-04,Everton,Bournemouth,6,3,H
2856,46629,E0,2016,2017-02-04,Southampton,West Ham,1,3,A
2857,46633,E0,2016,2017-02-05,Leicester,Man United,0,3,A
2858,46640,E0,2016,2017-02-11,Sunderland,Southampton,0,4,A
2859,46658,E0,2016,2017-03-04,Watford,Southampton,3,4,A
2860,46674,E0,2016,2017-03-18,West Ham,Leicester,2,3,A
2861,46676,E0,2016,2017-03-19,Middlesbrough,Man United,1,3,A
2862,46697,E0,2016,2017-04-05,Swansea,Tottenham,1,3,A
2863,46698,E0,2016,2017-04-08,Bournemouth,Chelsea,1,3,A
2864,46706,E0,2016,2017-04-09,Sunderland,Man United,0,3,A
2865,46710,E0,2016,2017-04-15,Southampton,Man City,0,3,A
2866,46734,E0,2016,2017-04-30,Everton,Chelsea,0,3,A
2867,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
2868,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
2869,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
2870,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
2871,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
2872,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

To practice using conditional operators in the __WHERE__ statement, query all the data from the __Matches__ table, where the Home Team did not win.

In [16]:
# View all data from Matches where the Home Team did not win

cur.execute('''SELECT *
               FROM Matches
               WHERE FTR != 'H';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
1,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
2,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
3,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
4,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
5,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
6,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
7,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
8,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
9,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
10,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
11,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
12,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
13,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
14,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
15,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
16,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
17,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
18,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
19,31,D1,2009,2009-12-11,Hertha,Leverkusen,2,2,D
20,32,D1,2009,2009-12-05,Hannover,Leverkusen,0,0,D
21,34,D1,2009,2009-09-12,Wolfsburg,Leverkusen,2,3,A
22,35,D1,2009,2010-01-24,Hoffenheim,Leverkusen,0,3,A
23,36,D1,2009,2009-09-26,FC Koln,Leverkusen,0,1,A
24,38,D1,2009,2009-11-21,Wolfsburg,Nurnberg,2,3,A
25,44,D1,2009,2010-02-27,Bochum,Nurnberg,0,0,D
26,45,D1,2009,2010-01-30,Hannover,Nurnberg,1,3,A
27,46,D1,2009,2009-08-29,Stuttgart,Nurnberg,0,0,D
28,52,D1,2009,2009-08-15,Ein Frankfurt,Nurnberg,1,1,D
29,54,D1,2009,2010-03-13,Hertha,Nurnberg,1,2,A
...,...,...,...,...,...,...,...,...,...
12816,46722,E0,2016,2017-04-23,Burnley,Man United,0,2,A
12817,46723,E0,2016,2017-04-23,Liverpool,Crystal Palace,1,2,A
12818,46726,E0,2016,2017-04-26,Crystal Palace,Tottenham,0,1,A
12819,46728,E0,2016,2017-04-27,Man City,Man United,0,0,D
12820,46729,E0,2016,2017-04-29,Crystal Palace,Burnley,0,2,A
12821,46730,E0,2016,2017-04-29,Southampton,Hull,0,0,D
12822,46731,E0,2016,2017-04-29,Stoke,West Ham,0,0,D
12823,46732,E0,2016,2017-04-29,Sunderland,Bournemouth,0,1,A
12824,46733,E0,2016,2017-04-29,West Brom,Leicester,0,1,A
12825,46734,E0,2016,2017-04-30,Everton,Chelsea,0,3,A
12826,46735,E0,2016,2017-04-30,Man United,Swansea,1,1,D
12827,46736,E0,2016,2017-04-30,Middlesbrough,Man City,2,2,D
12828,46738,E0,2016,2017-05-01,Watford,Liverpool,0,1,A
12829,46740,E0,2016,2017-05-06,Bournemouth,Stoke,2,2,D
12830,46741,E0,2016,2017-05-06,Burnley,West Brom,2,2,D
12831,46742,E0,2016,2017-05-06,Hull,Sunderland,0,2,A
12832,46747,E0,2016,2017-05-07,Liverpool,Southampton,0,0,D
12833,46749,E0,2016,2017-05-10,Southampton,Arsenal,0,2,A
12834,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
12835,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
12836,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
12837,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
12838,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
12839,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
12840,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
12841,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
12842,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
12843,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
12844,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
12845,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

## AND & OR: Using Multiple Conditions in the WHERE Statement

So far we have only put one condition in the __WHERE__ statement but it is possible to put more than one condition in the __WHERE__ statement. To do this you can add an __AND__ or __OR__ clause into your SQL query to further filter your results. When using the __AND__ clause in the __WHERE__ statement, each statement on either side of the __AND__ clause must be true for an observation to be returned. To see how this works, the query below will show all observations from the __Matches__ table where Man United was the Home Team and the final outcome of the game was a draw.

In [17]:
# View all data from Matches where the Home Team was Man United 
# and the outcome of the game was a draw

cur.execute('''SELECT *
               FROM Matches
               WHERE HomeTeam = 'Man United' 
                   AND FTR = 'D';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,37518,E0,1993,1993-08-21,Man United,Newcastle,1,1,D
1,37660,E0,1993,1993-11-24,Man United,Ipswich,0,0,D
2,37681,E0,1993,1993-12-04,Man United,Norwich,2,2,D
3,37718,E0,1993,1993-12-26,Man United,Blackburn,1,1,D
4,37740,E0,1993,1994-01-01,Man United,Leeds,0,0,D
5,37952,E0,1993,1994-05-08,Man United,Coventry,0,0,D
6,38178,E0,1994,1994-12-28,Man United,Leicester,1,1,D
7,38303,E0,1994,1995-03-15,Man United,Tottenham,0,0,D
8,38331,E0,1994,1995-04-02,Man United,Leeds,0,0,D
9,38363,E0,1994,1995-04-17,Man United,Chelsea,0,0,D
10,38493,E0,1995,1995-10-01,Man United,Liverpool,2,2,D
11,38569,E0,1995,1995-12-02,Man United,Chelsea,1,1,D
12,38578,E0,1995,1995-12-09,Man United,Sheffield Weds,2,2,D
13,38632,E0,1995,1996-01-13,Man United,Aston Villa,0,0,D
14,38810,E0,1996,1996-08-21,Man United,Everton,2,2,D
15,38823,E0,1996,1996-08-25,Man United,Blackburn,2,2,D
16,38998,E0,1996,1997-01-01,Man United,Aston Villa,0,0,D
17,39159,E0,1996,1997-05-05,Man United,Middlesbrough,3,3,D
18,39164,E0,1996,1997-05-08,Man United,Newcastle,0,0,D
19,39246,E0,1997,1997-09-24,Man United,Chelsea,2,2,D
20,39420,E0,1997,1998-02-07,Man United,Bolton,1,1,D
21,39491,E0,1997,1998-04-10,Man United,Liverpool,1,1,D
22,39514,E0,1997,1998-04-18,Man United,Newcastle,1,1,D
23,39558,E0,1998,1998-08-15,Man United,Leicester,2,2,D
24,39671,E0,1998,1998-11-08,Man United,Newcastle,0,0,D
25,39724,E0,1998,1998-12-16,Man United,Chelsea,1,1,D
26,39801,E0,1998,1999-02-17,Man United,Arsenal,1,1,D
27,40004,E0,1999,1999-09-18,Man United,Wimbledon,1,1,D
28,40016,E0,1999,1999-09-25,Man United,Southampton,3,3,D
29,40159,E0,1999,2000-01-24,Man United,Arsenal,1,1,D
...,...,...,...,...,...,...,...,...,...
51,42578,E0,2005,2006-05-01,Man United,Middlesbrough,0,0,D
52,42730,E0,2006,2006-11-26,Man United,Chelsea,1,1,D
53,42937,E0,2006,2007-04-21,Man United,Middlesbrough,1,1,D
54,42984,E0,2007,2007-08-12,Man United,Reading,0,0,D
55,43364,E0,2008,2008-08-17,Man United,Newcastle,1,1,D
56,43717,E0,2008,2009-05-16,Man United,Arsenal,0,0,D
57,43804,E0,2009,2009-10-03,Man United,Sunderland,2,2,D
58,44189,E0,2010,2010-10-16,Man United,West Brom,2,2,D
59,44617,E0,2011,2011-11-26,Man United,Newcastle,1,1,D
60,44838,E0,2011,2012-04-22,Man United,Everton,4,4,D
61,45275,E0,2013,2013-08-26,Man United,Chelsea,0,0,D
62,45328,E0,2013,2013-10-19,Man United,Southampton,1,1,D
63,45503,E0,2013,2014-02-09,Man United,Fulham,2,2,D
64,45722,E0,2014,2014-10-26,Man United,Chelsea,1,1,D
65,46001,E0,2014,2015-05-17,Man United,Arsenal,1,1,D
66,46037,E0,2015,2015-08-22,Man United,Newcastle,0,0,D
67,46113,E0,2015,2015-10-25,Man United,Man City,0,0,D
68,46157,E0,2015,2015-12-05,Man United,West Ham,0,0,D
69,46198,E0,2015,2015-12-28,Man United,Chelsea,0,0,D
70,46367,E0,2015,2016-05-01,Man United,Leicester,1,1,D
71,46463,E0,2016,2016-10-02,Man United,Stoke,1,1,D
72,46486,E0,2016,2016-10-29,Man United,Burnley,0,0,D
73,46507,E0,2016,2016-11-19,Man United,Arsenal,1,1,D
74,46522,E0,2016,2016-11-27,Man United,West Ham,1,1,D
75,46604,E0,2016,2017-01-15,Man United,Liverpool,1,1,D
76,46622,E0,2016,2017-02-01,Man United,Hull,0,0,D
77,46655,E0,2016,2017-03-04,Man United,Bournemouth,1,1,D
78,46683,E0,2016,2017-04-01,Man United,West Brom,0,0,D
79,46690,E0,2016,2017-04-04,Man United,Everton,1,1,D
80,46735,E0,2016,2017-04-30,Man United,Swansea,1,1,D

When using the __OR__ clause in a __WHERE__ statement, rows will only be included in the results when either the first condition is true or the second condition is true. If both conditions are true for an observation then that observation will also be returned. To see how the __OR__ clause works, view the following query that shows all the rows from the __Matches__ table that were in either the 2012 season or the 2013 season:

In [18]:
# View all data from Matches from the 2012 and 2013 seasons

cur.execute('''SELECT *
               FROM Matches
               WHERE Season = 2012 
                   OR Season = 2013;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1704,D1,2012,2013-05-04,Dortmund,Bayern Munich,1,1,D
1,1705,D1,2012,2013-02-02,Mainz,Bayern Munich,0,3,A
2,1706,D1,2012,2013-02-15,Wolfsburg,Bayern Munich,0,2,A
3,1707,D1,2012,2012-09-29,Werder Bremen,Bayern Munich,0,2,A
4,1708,D1,2012,2013-01-27,Stuttgart,Bayern Munich,0,2,A
5,1709,D1,2012,2012-11-17,Nurnberg,Bayern Munich,1,1,D
6,1710,D1,2012,2012-12-08,Augsburg,Bayern Munich,0,2,A
7,1711,D1,2012,2012-09-22,Schalke 04,Bayern Munich,0,2,A
8,1712,D1,2012,2012-11-03,Hamburg,Bayern Munich,0,3,A
9,1713,D1,2012,2013-03-03,Hoffenheim,Bayern Munich,0,1,A
10,1714,D1,2012,2013-05-18,M'gladbach,Bayern Munich,3,4,A
11,1715,D1,2012,2012-11-28,Freiburg,Bayern Munich,0,2,A
12,1716,D1,2012,2013-04-06,Ein Frankfurt,Bayern Munich,0,1,A
13,1717,D1,2012,2012-10-20,Fortuna Dusseldorf,Bayern Munich,0,5,A
14,1718,D1,2012,2013-04-20,Hannover,Bayern Munich,1,6,A
15,1719,D1,2012,2012-08-25,Greuther Furth,Bayern Munich,0,3,A
16,1720,D1,2012,2013-03-16,Leverkusen,Bayern Munich,1,2,A
17,1721,D1,2012,2012-10-07,Hannover,Dortmund,1,1,D
18,1722,D1,2012,2012-09-22,Hamburg,Dortmund,3,2,H
19,1723,D1,2012,2012-11-24,Mainz,Dortmund,1,2,A
20,1724,D1,2012,2013-01-19,Werder Bremen,Dortmund,0,5,A
21,1725,D1,2012,2013-03-30,Stuttgart,Dortmund,1,2,A
22,1726,D1,2012,2013-02-24,M'gladbach,Dortmund,1,1,D
23,1727,D1,2012,2012-09-25,Ein Frankfurt,Dortmund,3,3,D
24,1728,D1,2012,2012-12-01,Bayern Munich,Dortmund,1,1,D
25,1729,D1,2012,2012-09-01,Nurnberg,Dortmund,1,1,D
26,1730,D1,2012,2013-02-03,Leverkusen,Dortmund,2,3,A
27,1731,D1,2012,2012-12-16,Hoffenheim,Dortmund,1,3,A
28,1732,D1,2012,2013-03-09,Schalke 04,Dortmund,2,1,H
29,1733,D1,2012,2012-10-27,Freiburg,Dortmund,0,2,A
...,...,...,...,...,...,...,...,...,...
1954,45605,E0,2013,2014-04-26,Stoke,Tottenham,0,1,A
1955,45606,E0,2013,2014-04-26,Swansea,Aston Villa,4,1,H
1956,45607,E0,2013,2014-04-26,West Brom,West Ham,1,0,H
1957,45608,E0,2013,2014-04-27,Crystal Palace,Man City,0,2,A
1958,45609,E0,2013,2014-04-27,Liverpool,Chelsea,0,2,A
1959,45610,E0,2013,2014-04-27,Sunderland,Cardiff,4,0,H
1960,45611,E0,2013,2014-04-28,Arsenal,Newcastle,3,0,H
1961,45612,E0,2013,2014-05-03,Aston Villa,Hull,3,1,H
1962,45613,E0,2013,2014-05-03,Everton,Man City,2,3,A
1963,45614,E0,2013,2014-05-03,Man United,Sunderland,0,1,A
1964,45615,E0,2013,2014-05-03,Newcastle,Cardiff,3,0,H
1965,45616,E0,2013,2014-05-03,Stoke,Fulham,4,1,H
1966,45617,E0,2013,2014-05-03,Swansea,Southampton,0,1,A
1967,45618,E0,2013,2014-05-03,West Ham,Tottenham,2,0,H
1968,45619,E0,2013,2014-05-04,Arsenal,West Brom,1,0,H
1969,45620,E0,2013,2014-05-04,Chelsea,Norwich,0,0,D
1970,45621,E0,2013,2014-05-05,Crystal Palace,Liverpool,3,3,D
1971,45622,E0,2013,2014-05-06,Man United,Hull,3,1,H
1972,45623,E0,2013,2014-05-07,Man City,Aston Villa,4,0,H
1973,45624,E0,2013,2014-05-07,Sunderland,West Brom,2,0,H
1974,45625,E0,2013,2014-05-11,Cardiff,Chelsea,1,2,A
1975,45626,E0,2013,2014-05-11,Fulham,Crystal Palace,2,2,D
1976,45627,E0,2013,2014-05-11,Hull,Everton,0,2,A
1977,45628,E0,2013,2014-05-11,Liverpool,Newcastle,2,1,H
1978,45629,E0,2013,2014-05-11,Man City,West Ham,2,0,H
1979,45630,E0,2013,2014-05-11,Norwich,Arsenal,0,2,A
1980,45631,E0,2013,2014-05-11,Southampton,Man United,1,1,D
1981,45632,E0,2013,2014-05-11,Sunderland,Swansea,1,3,A
1982,45633,E0,2013,2014-05-11,Tottenham,Aston Villa,3,0,H
1983,45634,E0,2013,2014-05-11,West Brom,Stoke,1,2,A

To practice using the __AND__ clause in the __WHERE__ statement, select all the rows from the __Matches__ table where the Home Team scored more than 3 points and the Away team won the game and compare to the query below:

In [19]:
# View all the rows from Matches where the Home Team scored 
# more than 3 goals and the Away Team won the game

cur.execute('''SELECT *
               FROM Matches
               WHERE FTHG > 3 
                   AND FTR = 'A';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,404,D2,2009,2009-11-07,Greuther Furth,Augsburg,4,5,A
1,3116,D1,2014,2014-10-25,Ein Frankfurt,Stuttgart,4,5,A
2,3260,D1,2014,2015-02-14,Leverkusen,Wolfsburg,4,5,A
3,4163,D1,2016,2017-05-13,RB Leipzig,Bayern Munich,4,5,A
4,30734,D2,1993,1994-05-28,RW Essen,TB Berlin,4,6,A
5,32702,D1,1997,1997-10-31,Duisburg,M'gladbach,4,5,A
6,33508,D1,1998,1999-05-29,Munich 1860,Schalke 04,4,5,A
7,37891,E0,1993,1994-04-09,Norwich,Southampton,4,5,A
8,41961,E0,2004,2004-11-13,Tottenham,Arsenal,4,5,A
9,46238,E0,2015,2016-01-23,Norwich,Liverpool,4,5,A

To practice using the __OR__ clause in the __WHERE__ statement, select the HomeTeam, AwayTeam, FTHG, FTAG, FTR from the __Matches__ table where the Home Team scored more than 7 goals or the Away Team scored more than 7 goals and compare to the query below:

In [20]:
# Show the HomeTeam, AwayTeam, FTHG, FTAG, FTR from the Matches table 
# where the Home Team scored more than 7 goals or the Away Team 
# scored more than 7 goals

cur.execute('''SELECT HomeTeam,
                      AwayTeam,
                      FTHG,
                      FTAG,
                      FTR
               FROM Matches
               WHERE FTHG > 7 
                   OR FTAG > 7;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

         HomeTeam        AwayTeam  FTHG  FTAG FTR
0        St Pauli   Bayern Munich     1     8   A
1   Bayern Munich         Hamburg     9     2   H
2   Bayern Munich         Hamburg     8     0   H
3   Bayern Munich         Hamburg     8     0   H
4   Werder Bremen       Bielefeld     8     1   H
5   Hansa Rostock         Koblenz     9     0   H
6      M'gladbach      Leverkusen     2     8   A
7             Ulm      Leverkusen     1     9   A
8      Reutlingen     Saarbrucken     8     2   H
9    Unterhaching     Saarbrucken     8     0   H
10        FC Koln      Burghausen     8     1   H
11     Man United         Ipswich     9     0   H
12  Nott'm Forest      Man United     1     8   A
13      Newcastle  Sheffield Weds     8     0   H
14  Middlesbrough        Man City     8     1   H
15      Tottenham           Wigan     9     1   H
16        Chelsea           Wigan     8     0   H
17     Man United         Arsenal     8     2   H
18        Chelsea     Aston Villa     8     0   H
19    Southampton      Sunderland     8     0   H

## BETWEEN & NOT BETWEEN: Filter Rows that Fall Into a Range

Now, we will introduce two more clauses that can be included in the __WHERE__ statement, __BETWEEN__ and __NOT BETWEEN__. With a __BETWEEN__ clause, you can filter your results based on the condition that the value in the column being filtered has to be between two values in order to be returned. For example, if we wanted to select all the matches from the 2012 season to all the matches from the 2015 season, we would use the following query:

In [21]:
# View all data from Matches between the 2012 season and the 2015 season

cur.execute('''SELECT *
               FROM Matches
               WHERE Season BETWEEN 2012 
                   AND 2015;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1704,D1,2012,2013-05-04,Dortmund,Bayern Munich,1,1,D
1,1705,D1,2012,2013-02-02,Mainz,Bayern Munich,0,3,A
2,1706,D1,2012,2013-02-15,Wolfsburg,Bayern Munich,0,2,A
3,1707,D1,2012,2012-09-29,Werder Bremen,Bayern Munich,0,2,A
4,1708,D1,2012,2013-01-27,Stuttgart,Bayern Munich,0,2,A
5,1709,D1,2012,2012-11-17,Nurnberg,Bayern Munich,1,1,D
6,1710,D1,2012,2012-12-08,Augsburg,Bayern Munich,0,2,A
7,1711,D1,2012,2012-09-22,Schalke 04,Bayern Munich,0,2,A
8,1712,D1,2012,2012-11-03,Hamburg,Bayern Munich,0,3,A
9,1713,D1,2012,2013-03-03,Hoffenheim,Bayern Munich,0,1,A
10,1714,D1,2012,2013-05-18,M'gladbach,Bayern Munich,3,4,A
11,1715,D1,2012,2012-11-28,Freiburg,Bayern Munich,0,2,A
12,1716,D1,2012,2013-04-06,Ein Frankfurt,Bayern Munich,0,1,A
13,1717,D1,2012,2012-10-20,Fortuna Dusseldorf,Bayern Munich,0,5,A
14,1718,D1,2012,2013-04-20,Hannover,Bayern Munich,1,6,A
15,1719,D1,2012,2012-08-25,Greuther Furth,Bayern Munich,0,3,A
16,1720,D1,2012,2013-03-16,Leverkusen,Bayern Munich,1,2,A
17,1721,D1,2012,2012-10-07,Hannover,Dortmund,1,1,D
18,1722,D1,2012,2012-09-22,Hamburg,Dortmund,3,2,H
19,1723,D1,2012,2012-11-24,Mainz,Dortmund,1,2,A
20,1724,D1,2012,2013-01-19,Werder Bremen,Dortmund,0,5,A
21,1725,D1,2012,2013-03-30,Stuttgart,Dortmund,1,2,A
22,1726,D1,2012,2013-02-24,M'gladbach,Dortmund,1,1,D
23,1727,D1,2012,2012-09-25,Ein Frankfurt,Dortmund,3,3,D
24,1728,D1,2012,2012-12-01,Bayern Munich,Dortmund,1,1,D
25,1729,D1,2012,2012-09-01,Nurnberg,Dortmund,1,1,D
26,1730,D1,2012,2013-02-03,Leverkusen,Dortmund,2,3,A
27,1731,D1,2012,2012-12-16,Hoffenheim,Dortmund,1,3,A
28,1732,D1,2012,2013-03-09,Schalke 04,Dortmund,2,1,H
29,1733,D1,2012,2012-10-27,Freiburg,Dortmund,0,2,A
...,...,...,...,...,...,...,...,...,...
3938,46365,E0,2015,2016-04-30,Watford,Aston Villa,3,2,H
3939,46366,E0,2015,2016-04-30,West Brom,West Ham,0,3,A
3940,46367,E0,2015,2016-05-01,Man United,Leicester,1,1,D
3941,46368,E0,2015,2016-05-01,Southampton,Man City,4,2,H
3942,46369,E0,2015,2016-05-01,Swansea,Liverpool,3,1,H
3943,46370,E0,2015,2016-05-02,Chelsea,Tottenham,2,2,D
3944,46371,E0,2015,2016-05-07,Aston Villa,Newcastle,0,0,D
3945,46372,E0,2015,2016-05-07,Bournemouth,West Brom,1,1,D
3946,46373,E0,2015,2016-05-07,Crystal Palace,Stoke,2,1,H
3947,46374,E0,2015,2016-05-07,Leicester,Everton,3,1,H
3948,46375,E0,2015,2016-05-07,Norwich,Man United,0,1,A
3949,46376,E0,2015,2016-05-07,Sunderland,Chelsea,3,2,H
3950,46377,E0,2015,2016-05-07,West Ham,Swansea,1,4,A
3951,46378,E0,2015,2016-05-08,Liverpool,Watford,2,0,H
3952,46379,E0,2015,2016-05-08,Man City,Arsenal,2,2,D
3953,46380,E0,2015,2016-05-08,Tottenham,Southampton,1,2,A
3954,46381,E0,2015,2016-05-10,West Ham,Man United,3,2,H
3955,46382,E0,2015,2016-05-11,Liverpool,Chelsea,1,1,D
3956,46383,E0,2015,2016-05-11,Norwich,Watford,4,2,H
3957,46384,E0,2015,2016-05-11,Sunderland,Everton,3,0,H
3958,46385,E0,2015,2016-05-15,Arsenal,Aston Villa,4,0,H
3959,46386,E0,2015,2016-05-15,Chelsea,Leicester,1,1,D
3960,46387,E0,2015,2016-05-15,Everton,Norwich,3,0,H
3961,46388,E0,2015,2016-05-15,Newcastle,Tottenham,5,1,H
3962,46389,E0,2015,2016-05-15,Southampton,Crystal Palace,4,1,H
3963,46390,E0,2015,2016-05-15,Stoke,West Ham,2,1,H
3964,46391,E0,2015,2016-05-15,Swansea,Man City,1,1,D
3965,46392,E0,2015,2016-05-15,Watford,Sunderland,2,2,D
3966,46393,E0,2015,2016-05-15,West Brom,Liverpool,1,1,D
3967,46394,E0,2015,2016-05-17,Man United,Bournemouth,3,1,H

The __NOT BETWEEN__ clause works in the opposite way. If we were to write __NOT BETWEEN__ in place of __BETWEEN__ in the query above, it would only show the matches that were not included in the 2012-2015 season range. So the matches prior to the 2012 season would be included and the matches after the 2015 season would have been included in the returned result but none of the matches between the 2012 season and the 2015 season would have been included. To query the matches that have a _Match_ID that is not between 25 and 46,750, we could use the following query:

In [22]:
# Select all the columns from the Matches table that show the 
# matches that do not have a Match_ID between 25 and 46,750

cur.execute('''SELECT *
               FROM Matches
               WHERE Match_ID NOT BETWEEN 25 
                   AND 46750;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
25,46752,E0,2016,2017-05-13,Bournemouth,Burnley,2,1,H
26,46753,E0,2016,2017-05-13,Man City,Leicester,2,1,H
27,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
28,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
29,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
30,46757,E0,2016,2017-05-14,Crystal Palace,Hull,4,0,H
31,46758,E0,2016,2017-05-14,Tottenham,Man United,2,1,H
32,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
33,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
34,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
35,46762,E0,2016,2017-05-16,Man City,West Brom,3,1,H
36,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
37,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
38,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H
39,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
40,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
41,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
42,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
43,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
44,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
45,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
46,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
47,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

To practice on your own, select FTHG, FTAG, FTR from all the matches where the number of goals scored by the Home Team is between 7 and 9 AND the number of goals scored by the Away Team is not between 0 and 3. When you have done this, compare your query to the one below:

In [23]:
# Select FTHG, FTAG, FTR of all the matches where the number of goals 
# scored by the Home Team is between 7 and 9 AND the number of goals 
# scored by the Away Team is not between 0 and 3.

cur.execute('''SELECT FTHG,
                      FTAG,
                      FTR
               FROM Matches
               WHERE (FTHG BETWEEN 7 AND 9)
                   AND (FTAG NOT BETWEEN 0 AND 3);''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

   FTHG  FTAG FTR
0     7     4   H
1     7     4   H
2     7     6   H
3     7     4   H

## IN( ): Selecting Values from a List

Sometimes you may only want to select data that is included in a certain list. This is when the __IN__ operator comes into use. You can use the __IN__ operator in the __WHERE__ statement if you want to only return rows when the condition is included in a list. For example, the following query will return all the matches where Chelsea, Hull or Watford was the Home team:

In [24]:
# Show all matches where the Home Team was either Chelsea, Hull or Watford

cur.execute('''SELECT *
               FROM Matches
               WHERE HomeTeam IN('Chelsea', 'Hull', 'Watford');''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,37493,E0,1993,1993-08-14,Chelsea,Blackburn,1,2,A
1,37529,E0,1993,1993-08-25,Chelsea,QPR,2,0,H
2,37538,E0,1993,1993-08-28,Chelsea,Sheffield Weds,1,1,D
3,37559,E0,1993,1993-09-11,Chelsea,Man United,1,0,H
4,37581,E0,1993,1993-09-25,Chelsea,Liverpool,1,0,H
5,37602,E0,1993,1993-10-16,Chelsea,Norwich,1,2,A
6,37625,E0,1993,1993-10-30,Chelsea,Oldham,0,1,A
7,37647,E0,1993,1993-11-20,Chelsea,Arsenal,0,2,A
8,37656,E0,1993,1993-11-22,Chelsea,Man City,0,0,D
9,37697,E0,1993,1993-12-11,Chelsea,Ipswich,1,1,D
10,37727,E0,1993,1993-12-28,Chelsea,Newcastle,1,0,H
11,37749,E0,1993,1994-01-03,Chelsea,Everton,4,2,H
12,37767,E0,1993,1994-01-22,Chelsea,Aston Villa,1,1,D
13,37811,E0,1993,1994-02-27,Chelsea,Tottenham,4,3,H
14,37832,E0,1993,1994-03-16,Chelsea,Wimbledon,2,0,H
15,37851,E0,1993,1994-03-26,Chelsea,West Ham,2,0,H
16,37869,E0,1993,1994-04-02,Chelsea,Southampton,2,0,H
17,37909,E0,1993,1994-04-23,Chelsea,Leeds,1,1,D
18,37920,E0,1993,1994-04-27,Chelsea,Swindon,2,0,H
19,37939,E0,1993,1994-05-04,Chelsea,Coventry,1,2,A
20,37944,E0,1993,1994-05-07,Chelsea,Sheffield United,3,2,H
21,37954,E0,1994,1994-08-20,Chelsea,Norwich,2,0,H
22,37990,E0,1994,1994-08-31,Chelsea,Man City,3,0,H
23,38016,E0,1994,1994-09-18,Chelsea,Blackburn,1,2,A
24,38037,E0,1994,1994-10-02,Chelsea,West Ham,1,2,A
25,38040,E0,1994,1994-10-08,Chelsea,Leicester,4,0,H
26,38071,E0,1994,1994-10-23,Chelsea,Ipswich,2,0,H
27,38100,E0,1994,1994-11-06,Chelsea,Coventry,2,2,D
28,38120,E0,1994,1994-11-26,Chelsea,Everton,0,1,A
29,38160,E0,1994,1994-12-18,Chelsea,Liverpool,0,0,D
...,...,...,...,...,...,...,...,...,...
601,46575,E0,2016,2016-12-30,Hull,Everton,2,2,D
602,46577,E0,2016,2016-12-31,Chelsea,Stoke,4,2,H
603,46584,E0,2016,2017-01-01,Watford,Tottenham,1,4,A
604,46596,E0,2016,2017-01-14,Hull,Bournemouth,3,1,H
605,46601,E0,2016,2017-01-14,Watford,Middlesbrough,0,0,D
606,46613,E0,2016,2017-01-22,Chelsea,Hull,2,0,H
607,46625,E0,2016,2017-02-04,Chelsea,Arsenal,3,1,H
608,46628,E0,2016,2017-02-04,Hull,Liverpool,2,0,H
609,46631,E0,2016,2017-02-04,Watford,Burnley,2,1,H
610,46645,E0,2016,2017-02-25,Chelsea,Swansea,3,1,H
611,46648,E0,2016,2017-02-25,Hull,Burnley,1,1,D
612,46649,E0,2016,2017-02-25,Watford,West Ham,1,1,D
613,46658,E0,2016,2017-03-04,Watford,Southampton,3,4,A
614,46666,E0,2016,2017-03-11,Hull,Swansea,2,1,H
615,46679,E0,2016,2017-04-01,Chelsea,Crystal Palace,1,2,A
616,46680,E0,2016,2017-04-01,Hull,West Ham,2,1,H
617,46685,E0,2016,2017-04-01,Watford,Sunderland,1,0,H
618,46691,E0,2016,2017-04-04,Watford,West Brom,2,0,H
619,46693,E0,2016,2017-04-05,Chelsea,Man City,2,1,H
620,46694,E0,2016,2017-04-05,Hull,Middlesbrough,4,2,H
621,46714,E0,2016,2017-04-15,Watford,Swansea,1,0,H
622,46719,E0,2016,2017-04-22,Hull,Watford,2,0,H
623,46724,E0,2016,2017-04-25,Chelsea,Southampton,4,2,H
624,46738,E0,2016,2017-05-01,Watford,Liverpool,0,1,A
625,46742,E0,2016,2017-05-06,Hull,Sunderland,0,2,A
626,46748,E0,2016,2017-05-08,Chelsea,Middlesbrough,3,0,H
627,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
628,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
629,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
630,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

Practice using the __IN__ operator to select the AwayTeam from the __Matches__ table when the Away team is either Liverpool, Man City or Swansea and compare your query to the one below:

In [25]:
# Select AwayTeam from Matches when the Away Team name is Liverpool, Man City or Swansea

cur.execute('''SELECT AwayTeam
               FROM Matches
               WHERE AwayTeam IN('Liverpool', 'Man City', 'Swansea');''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

      AwayTeam
0     Man City
1    Liverpool
2     Man City
3    Liverpool
4    Liverpool
5     Man City
6    Liverpool
7     Man City
8    Liverpool
9     Man City
10    Man City
11   Liverpool
12    Man City
13    Man City
14   Liverpool
15    Man City
16    Man City
17   Liverpool
18    Man City
19   Liverpool
20   Liverpool
21   Liverpool
22    Man City
23   Liverpool
24    Man City
25   Liverpool
26   Liverpool
27    Man City
28   Liverpool
29    Man City
..         ...
909   Man City
910   Man City
911  Liverpool
912    Swansea
913   Man City
914  Liverpool
915    Swansea
916   Man City
917  Liverpool
918    Swansea
919   Man City
920    Swansea
921  Liverpool
922   Man City
923    Swansea
924    Swansea
925  Liverpool
926   Man City
927   Man City
928  Liverpool
929    Swansea
930   Man City
931    Swansea
932  Liverpool
933    Swansea
934   Man City
935  Liverpool
936    Swansea
937  Liverpool
938   Man City

[939 rows x 1 columns]

## LIKE Operator: Filtering String Data

Next, we will introduce the __LIKE__ operator. This operator is useful when you want to filter string data. To see how it works, look at the query below. This query will return all the matches where the Home Team name begins with "A".

In [26]:
# Show all the matches where the Home Team name begins with an "A"

cur.execute('''SELECT *
               FROM Matches
               WHERE HomeTeam LIKE 'A%';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
1,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
2,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
3,143,D2,2009,2009-09-20,Augsburg,Hansa Rostock,5,2,H
4,144,D2,2009,2009-11-09,Aachen,Hansa Rostock,1,0,H
5,156,D2,2009,2009-10-04,Ahlen,Hansa Rostock,0,2,A
6,200,D2,2009,2010-05-02,Augsburg,Munich 1860,1,0,H
7,204,D2,2009,2009-08-28,Ahlen,Munich 1860,0,0,D
8,205,D2,2009,2009-09-20,Aachen,Munich 1860,2,0,H
9,210,D2,2009,2009-11-22,Augsburg,St Pauli,3,2,H
10,211,D2,2009,2009-08-17,Aachen,St Pauli,0,5,A
11,215,D2,2009,2010-01-16,Ahlen,St Pauli,0,2,A
12,265,D2,2009,2010-03-12,Aachen,Bielefeld,2,1,H
13,270,D2,2009,2010-01-30,Augsburg,Bielefeld,3,1,H
14,275,D2,2009,2010-02-12,Ahlen,Bielefeld,0,1,A
15,282,D2,2009,2009-12-18,Ahlen,Cottbus,0,4,A
16,284,D2,2009,2010-01-17,Augsburg,Cottbus,3,1,H
17,290,D2,2009,2009-10-02,Aachen,Cottbus,1,1,D
18,296,D2,2009,2010-04-04,Augsburg,Greuther Furth,1,1,D
19,297,D2,2009,2010-04-24,Aachen,Greuther Furth,2,2,D
20,301,D2,2009,2009-10-31,Ahlen,Greuther Furth,0,1,A
21,315,D2,2009,2009-08-16,Augsburg,Oberhausen,2,2,D
22,319,D2,2009,2010-01-31,Ahlen,Oberhausen,1,0,H
23,325,D2,2009,2010-02-13,Aachen,Oberhausen,2,1,H
24,329,D2,2009,2009-11-01,Augsburg,Aachen,0,1,A
25,341,D2,2009,2010-04-18,Ahlen,Aachen,0,1,A
26,345,D2,2009,2009-11-27,Aachen,Ahlen,0,2,A
27,357,D2,2009,2010-03-20,Augsburg,Ahlen,3,1,H
28,361,D2,2009,2009-08-30,Augsburg,Union Berlin,1,1,D
29,370,D2,2009,2009-10-25,Aachen,Union Berlin,1,4,A
...,...,...,...,...,...,...,...,...,...
1478,46288,E0,2015,2016-03-02,Arsenal,Swansea,1,2,A
1479,46306,E0,2015,2016-03-13,Aston Villa,Tottenham,0,2,A
1480,46318,E0,2015,2016-04-02,Arsenal,Watford,4,0,H
1481,46319,E0,2015,2016-04-02,Aston Villa,Chelsea,0,4,A
1482,46328,E0,2015,2016-04-09,Aston Villa,Bournemouth,1,2,A
1483,46345,E0,2015,2016-04-17,Arsenal,Crystal Palace,1,1,D
1484,46353,E0,2015,2016-04-21,Arsenal,West Brom,2,0,H
1485,46354,E0,2015,2016-04-23,Aston Villa,Southampton,2,4,A
1486,46361,E0,2015,2016-04-30,Arsenal,Norwich,1,0,H
1487,46371,E0,2015,2016-05-07,Aston Villa,Newcastle,0,0,D
1488,46385,E0,2015,2016-05-15,Arsenal,Aston Villa,4,0,H
1489,46402,E0,2016,2016-08-14,Arsenal,Liverpool,3,4,A
1490,46425,E0,2016,2016-09-10,Arsenal,Southampton,2,1,H
1491,46445,E0,2016,2016-09-24,Arsenal,Chelsea,3,0,H
1492,46465,E0,2016,2016-10-15,Arsenal,Swansea,3,2,H
1493,46475,E0,2016,2016-10-22,Arsenal,Middlesbrough,0,0,D
1494,46500,E0,2016,2016-11-06,Arsenal,Tottenham,1,1,D
1495,46521,E0,2016,2016-11-27,Arsenal,Bournemouth,3,1,H
1496,46535,E0,2016,2016-12-10,Arsenal,Stoke,3,1,H
1497,46565,E0,2016,2016-12-26,Arsenal,West Brom,1,0,H
1498,46583,E0,2016,2017-01-01,Arsenal,Crystal Palace,2,0,H
1499,46612,E0,2016,2017-01-22,Arsenal,Burnley,2,1,H
1500,46615,E0,2016,2017-01-31,Arsenal,Watford,1,2,A
1501,46635,E0,2016,2017-02-11,Arsenal,Hull,2,0,H
1502,46686,E0,2016,2017-04-02,Arsenal,Man City,2,2,D
1503,46692,E0,2016,2017-04-05,Arsenal,West Ham,3,0,H
1504,46725,E0,2016,2017-04-26,Arsenal,Leicester,1,0,H
1505,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
1506,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
1507,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H

After the __LIKE__ statement we wrapped in quotation marks, A%. The A tells us that the statement must begin with an "A". The percent sign is used like a wild card. Anything after the A is not required to be any specific value. To see how this works view the following:

 - WHERE HomeTeam LIKE 'Be%' (Returns rows where HomeTeam begins with "Be")
 - WHERE HomeTeam LIKE '%ty' (Returns rows where HomeTeam ends with "ty")
 - WHERE HomeTeam LIKE '%a%' (Returns rows where HomeTeam includes "a")
 
To practice using the __LIKE__ statement to return all matches where the Away Team name includes the term "City" and compare to the following code:

In [27]:
# Show all the matches where the Away Team name includes the term "City"

cur.execute('''SELECT *
               FROM Matches
               WHERE AwayTeam LIKE '%City%';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,37503,E0,1993,1993-08-17,Everton,Man City,1,0,H
1,37521,E0,1993,1993-08-21,Tottenham,Man City,1,0,H
2,37555,E0,1993,1993-09-01,Swindon,Man City,1,3,A
3,37578,E0,1993,1993-09-20,Wimbledon,Man City,1,0,H
4,37587,E0,1993,1993-09-25,Sheffield United,Man City,0,1,A
5,37601,E0,1993,1993-10-16,Arsenal,Man City,0,0,D
6,37633,E0,1993,1993-11-01,West Ham,Man City,3,1,H
7,37650,E0,1993,1993-11-20,Norwich,Man City,1,1,D
8,37656,E0,1993,1993-11-22,Chelsea,Man City,0,0,D
9,37680,E0,1993,1993-12-04,Leeds,Man City,3,2,H
10,37707,E0,1993,1993-12-18,Blackburn,Man City,2,0,H
11,37741,E0,1993,1994-01-01,Newcastle,Man City,2,0,H
12,37770,E0,1993,1994-01-22,Liverpool,Man City,2,1,H
13,37797,E0,1993,1994-02-19,Coventry,Man City,4,0,H
14,37801,E0,1993,1994-02-22,Aston Villa,Man City,0,0,D
15,37819,E0,1993,1994-03-05,QPR,Man City,1,1,D
16,37855,E0,1993,1994-03-26,Oldham,Man City,0,0,D
17,37859,E0,1993,1994-03-29,Ipswich,Man City,2,2,D
18,37884,E0,1993,1994-04-04,Southampton,Man City,0,1,A
19,37911,E0,1993,1994-04-23,Man United,Man City,2,0,H
20,37948,E0,1993,1994-05-07,Sheffield Weds,Man City,1,1,D
21,37953,E0,1994,1994-08-20,Arsenal,Man City,3,0,H
22,37990,E0,1994,1994-08-31,Chelsea,Man City,3,0,H
23,38012,E0,1994,1994-09-17,Sheffield Weds,Man City,1,1,D
24,38031,E0,1994,1994-10-01,Leeds,Man City,2,0,H
25,38059,E0,1994,1994-10-15,QPR,Man City,1,2,A
26,38073,E0,1994,1994-10-29,Coventry,Man City,1,0,H
27,38104,E0,1994,1994-11-10,Man United,Man City,5,0,H
28,38114,E0,1994,1994-11-20,Leicester,Man City,0,1,A
29,38130,E0,1994,1994-12-03,Ipswich,Man City,1,2,A
...,...,...,...,...,...,...,...,...,...
335,46203,E0,2015,2015-12-29,Leicester,Man City,0,0,D
336,46210,E0,2015,2016-01-02,Watford,Man City,1,2,A
337,46242,E0,2015,2016-01-23,West Ham,Man City,2,2,D
338,46250,E0,2015,2016-02-02,Sunderland,Man City,0,1,A
339,46289,E0,2015,2016-03-02,Liverpool,Man City,3,0,H
340,46304,E0,2015,2016-03-12,Norwich,Man City,0,0,D
341,46320,E0,2015,2016-04-02,Bournemouth,Man City,0,4,A
342,46339,E0,2015,2016-04-16,Chelsea,Man City,0,3,A
343,46349,E0,2015,2016-04-19,Newcastle,Man City,1,1,D
344,46368,E0,2015,2016-05-01,Southampton,Man City,4,2,H
345,46391,E0,2015,2016-05-15,Swansea,Man City,1,1,D
346,46408,E0,2016,2016-08-20,Stoke,Man City,1,4,A
347,46429,E0,2016,2016-09-10,Man United,Man City,1,2,A
348,46452,E0,2016,2016-09-24,Swansea,Man City,1,3,A
349,46464,E0,2016,2016-10-02,Tottenham,Man City,2,0,H
350,46491,E0,2016,2016-10-29,West Brom,Man City,0,4,A
351,46505,E0,2016,2016-11-19,Crystal Palace,Man City,1,2,A
352,46515,E0,2016,2016-11-26,Burnley,Man City,1,2,A
353,46538,E0,2016,2016-12-10,Leicester,Man City,4,2,H
354,46568,E0,2016,2016-12-26,Hull,Man City,0,3,A
355,46579,E0,2016,2016-12-31,Liverpool,Man City,1,0,H
356,46603,E0,2016,2017-01-15,Everton,Man City,4,0,H
357,46624,E0,2016,2017-02-01,West Ham,Man City,0,4,A
358,46644,E0,2016,2017-02-13,Bournemouth,Man City,0,2,A
359,46660,E0,2016,2017-03-05,Sunderland,Man City,0,2,A
360,46686,E0,2016,2017-04-02,Arsenal,Man City,2,2,D
361,46693,E0,2016,2017-04-05,Chelsea,Man City,2,1,H
362,46710,E0,2016,2017-04-15,Southampton,Man City,0,3,A
363,46736,E0,2016,2017-04-30,Middlesbrough,Man City,2,2,D
364,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

You can also use the term __NOT LIKE__. If you wanted to return all the matches where the Date did not begin with 2017 you could use the following query:

In [29]:
# Show all the matches where the Date did not begin with '2017'

cur.execute('''SELECT *
               FROM Matches
               WHERE Date NOT LIKE '2017%';''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
25,26,D1,2009,2010-04-17,Stuttgart,Leverkusen,2,1,H
26,27,D1,2009,2010-03-20,Dortmund,Leverkusen,3,0,H
27,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
28,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
29,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
...,...,...,...,...,...,...,...,...,...
23773,46553,E0,2016,2016-12-14,West Brom,Swansea,3,1,H
23774,46554,E0,2016,2016-12-14,West Ham,Burnley,1,0,H
23775,46555,E0,2016,2016-12-17,Crystal Palace,Chelsea,0,1,A
23776,46556,E0,2016,2016-12-17,Middlesbrough,Swansea,3,0,H
23777,46557,E0,2016,2016-12-17,Stoke,Leicester,2,2,D
23778,46558,E0,2016,2016-12-17,Sunderland,Watford,1,0,H
23779,46559,E0,2016,2016-12-17,West Brom,Man United,0,2,A
23780,46560,E0,2016,2016-12-17,West Ham,Hull,1,0,H
23781,46561,E0,2016,2016-12-18,Bournemouth,Southampton,1,3,A
23782,46562,E0,2016,2016-12-18,Man City,Arsenal,2,1,H
23783,46563,E0,2016,2016-12-18,Tottenham,Burnley,2,1,H
23784,46564,E0,2016,2016-12-19,Everton,Liverpool,0,1,A
23785,46565,E0,2016,2016-12-26,Arsenal,West Brom,1,0,H
23786,46566,E0,2016,2016-12-26,Burnley,Middlesbrough,1,0,H
23787,46567,E0,2016,2016-12-26,Chelsea,Bournemouth,3,0,H
23788,46568,E0,2016,2016-12-26,Hull,Man City,0,3,A
23789,46569,E0,2016,2016-12-26,Leicester,Everton,0,2,A
23790,46570,E0,2016,2016-12-26,Man United,Sunderland,3,1,H
23791,46571,E0,2016,2016-12-26,Swansea,West Ham,1,4,A
23792,46572,E0,2016,2016-12-26,Watford,Crystal Palace,1,1,D
23793,46573,E0,2016,2016-12-27,Liverpool,Stoke,4,1,H
23794,46574,E0,2016,2016-12-28,Southampton,Tottenham,1,4,A
23795,46575,E0,2016,2016-12-30,Hull,Everton,2,2,D
23796,46576,E0,2016,2016-12-31,Burnley,Sunderland,4,1,H
23797,46577,E0,2016,2016-12-31,Chelsea,Stoke,4,2,H
23798,46578,E0,2016,2016-12-31,Leicester,West Ham,1,0,H
23799,46579,E0,2016,2016-12-31,Liverpool,Man City,1,0,H
23800,46580,E0,2016,2016-12-31,Man United,Middlesbrough,2,1,H
23801,46581,E0,2016,2016-12-31,Southampton,West Brom,1,2,A
23802,46582,E0,2016,2016-12-31,Swansea,Bournemouth,0,3,A

To practice on your own, select all columns from the __Matches__ table where the __Date__ does not begins with 2016 and the HomeTeam name ends with a "y" and the AwayTeam name does not includes an "e". Compare your query to the one below:

In [30]:
# Show all the matches where the Date did not begin with '2016'
# and the Hoem Team Name ends in a "y"
# and the Away Team Name does not include an "e"

cur.execute('''SELECT *
               FROM Matches
               WHERE (Date NOT LIKE '2016%')
                   AND (HomeTeam Like '%y')
                   AND (AwayTeam NOT LIKE '%e%');''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

     Match_ID Div  Season        Date  HomeTeam     AwayTeam  FTHG  FTAG FTR
0       37526  E0    1993  1993-08-24  Man City    Blackburn     0     2   A
1       37560  E0    1993  1993-09-11  Man City          QPR     3     0   H
2       37600  E0    1993  1993-10-04  Man City       Oldham     1     1   D
3       37603  E0    1993  1993-10-16  Coventry  Southampton     1     1   D
4       37708  E0    1993  1993-12-18  Coventry       Oldham     1     1   D
5       37729  E0    1993  1993-12-28  Man City  Southampton     1     1   D
6       37750  E0    1993  1994-01-03  Coventry      Swindon     1     1   D
7       37768  E0    1993  1994-01-22  Coventry          QPR     0     1   A
8       37777  E0    1993  1994-02-02  Coventry      Ipswich     1     0   H
9       37780  E0    1993  1994-02-05  Man City      Ipswich     2     1   H
10      37797  E0    1993  1994-02-19  Coventry     Man City     4     0   H
11      37807  E0    1993  1994-02-26  Man City      Swindon     2     1   H
12      37824  E0    1993  1994-03-06  Coventry  Aston Villa     0     1   A
13      37852  E0    1993  1994-03-26  Coventry      Norwich     2     1   H
14      37872  E0    1993  1994-04-02  Man City  Aston Villa     3     0   H
15      37900  E0    1993  1994-04-16  Man City      Norwich     1     1   D
16      37935  E0    1993  1994-05-02  Coventry    Blackburn     2     1   H
17      37985  E0    1994  1994-08-29  Coventry  Aston Villa     0     1   A
18      38019  E0    1994  1994-09-24  Coventry  Southampton     1     3   A
19      38023  E0    1994  1994-09-24  Man City      Norwich     2     0   H
20      38050  E0    1994  1994-10-10  Coventry      Ipswich     2     0   H
21      38073  E0    1994  1994-10-29  Coventry     Man City     1     0   H
22      38094  E0    1994  1994-11-05  Man City  Southampton     3     3   D
23      38105  E0    1994  1994-11-19  Coventry      Norwich     1     0   H
24      38169  E0    1994  1994-12-26  Man City    Blackburn     1     3   A
25      38189  E0    1994  1994-12-31  Man City  Aston Villa     2     2   D
26      38260  E0    1994  1995-02-22  Man City      Ipswich     2     0   H
27      38295  E0    1994  1995-03-11  Coventry    Blackburn     1     1   D
28      38325  E0    1994  1995-04-01  Coventry          QPR     0     1   A
29      38408  E0    1994  1995-05-14  Man City          QPR     2     3   A
..        ...  ..     ...         ...       ...          ...   ...   ...  ..
188     44726  E0    2011  2012-02-04  Man City       Fulham     3     0   H
189     44746  E0    2011  2012-02-25  Man City    Blackburn     3     0   H
190     44756  E0    2011  2012-03-03  Man City       Bolton     2     0   H
191     44867  E0    2011  2012-05-13  Man City          QPR     3     2   H
192     44882  E0    2012  2012-08-19  Man City  Southampton     3     2   H
193     44895  E0    2012  2012-09-01  Man City          QPR     3     1   H
194     44986  E0    2012  2012-11-17  Man City  Aston Villa     5     0   H
195     45095  E0    2012  2013-01-19  Man City       Fulham     2     0   H
196     45200  E0    2012  2013-04-17  Man City        Wigan     1     0   H
197     45247  E0    2012  2013-05-19  Man City      Norwich     2     3   A
198     45278  E0    2013  2013-08-31  Man City         Hull     2     0   H
199     45348  E0    2013  2013-11-02  Man City      Norwich     7     0   H
200     45468  E0    2013  2014-01-18  Man City      Cardiff     4     2   H
201     45550  E0    2013  2014-03-22  Man City       Fulham     5     0   H
202     45575  E0    2013  2014-04-05  Man City  Southampton     4     1   H
203     45623  E0    2013  2014-05-07  Man City  Aston Villa     4     0   H
204     45735  E0    2014  2014-11-08   Burnley         Hull     1     0   H
205     45755  E0    2014  2014-11-29   Burnley  Aston Villa     1     1   D
206     45786  E0    2014  2014-12-13   Burnley  Southampton     1     0   H
207     45835  E0    2014  2015-01-10   Burnley          QPR     2     1   H
208     45868  E0    2014  2015-02-07  Man City         Hull     1     1   D
209     45915  E0    2014  2015-03-14   Burnley     Man City     1     0   H
210     45964  E0    2014  2015-04-25  Man City  Aston Villa     3     2   H
211     45992  E0    2014  2015-05-10  Man City          QPR     6     0   H
212     46012  E0    2014  2015-05-24  Man City  Southampton     2     0   H
213     46049  E0    2015  2015-08-29  Man City      Watford     2     0   H
214     46117  E0    2015  2015-10-31  Man City      Norwich     2     1   H
215     46149  E0    2015  2015-11-28  Man City  Southampton     3     1   H
216     46595  E0    2016  2017-01-14   Burnley  Southampton     1     0   H
217     46699  E0    2016  2017-04-08  Man City         Hull     3     1   H

[218 rows x 9 columns]

## IS NULL & IS NOT NULL: Dealing with Missing Values

Sometimes, data may be missing in some rows. These values are known as __NULL__ data. You can check if any of the data is missing for a specific column using the clause __IS NULL__ in the __WHERE__ statement. To see if the outcome of any match is missing from the Matches table we can use the following query:

In [31]:
# Select all columns from the Matches table where FTR is a NULL value

cur.execute('''SELECT *
               FROM Matches
               WHERE FTR IS NULL;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 9 elements

We received a length mismatch error. This is because there are now observations where the outcome of a game is unknown. That is good. Practice using the __IS NULL__ clause to check whether any of the Home Team Goal Count is missing from any of the observations in the __Matches__ table and compare your query to the one below:

In [32]:
# Select all columns from the Matches table where FTHG is a NULL value

cur.execute('''SELECT *
               FROM Matches
               WHERE FTHG IS NULL;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 9 elements

There should be no values missing. The statement __IS NOT NULL__ works in the opposite way. This will return all values where a column does not have a NULL value. The following query shows all the observations from the __Matches__ table where there is not a null value in the __HomeTeam__ column.

In [34]:
# Select all columns from the Matches table where HomeTeam is not a NULL value

cur.execute('''SELECT *
               FROM Matches
               WHERE HomeTeam IS NOT NULL;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
25,26,D1,2009,2010-04-17,Stuttgart,Leverkusen,2,1,H
26,27,D1,2009,2010-03-20,Dortmund,Leverkusen,3,0,H
27,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
28,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
29,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
...,...,...,...,...,...,...,...,...,...
24595,46745,E0,2016,2017-05-06,Swansea,Everton,1,0,H
24596,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
24597,46747,E0,2016,2017-05-07,Liverpool,Southampton,0,0,D
24598,46748,E0,2016,2017-05-08,Chelsea,Middlesbrough,3,0,H
24599,46749,E0,2016,2017-05-10,Southampton,Arsenal,0,2,A
24600,46750,E0,2016,2017-05-12,Everton,Watford,1,0,H
24601,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
24602,46752,E0,2016,2017-05-13,Bournemouth,Burnley,2,1,H
24603,46753,E0,2016,2017-05-13,Man City,Leicester,2,1,H
24604,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
24605,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
24606,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
24607,46757,E0,2016,2017-05-14,Crystal Palace,Hull,4,0,H
24608,46758,E0,2016,2017-05-14,Tottenham,Man United,2,1,H
24609,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
24610,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
24611,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
24612,46762,E0,2016,2017-05-16,Man City,West Brom,3,1,H
24613,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
24614,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
24615,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H
24616,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
24617,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
24618,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
24619,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

Practice using the __NOT NULL__ clause by querying all the columns from the Matches table where __Date__ does not have a null value and compare to the query below:

In [35]:
# Select all columns from the Matches table where Date is not a NULL value

cur.execute('''SELECT *
               FROM Matches
               WHERE Date IS NOT NULL;''')
Matches_df = pd.DataFrame(cur.fetchall())
Matches_df.columns = [x[0] for x in cur.description]
Matches_df

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H
10,11,D2,2009,2009-12-19,Greuther Furth,Karlsruhe,1,4,A
11,12,D2,2009,2010-04-16,Koblenz,Karlsruhe,2,2,D
12,13,D2,2009,2010-03-21,Oberhausen,Karlsruhe,1,0,H
13,14,D2,2009,2009-09-14,Cottbus,Karlsruhe,2,4,A
14,15,D2,2009,2010-05-02,Duisburg,Karlsruhe,0,1,A
15,16,D2,2009,2009-10-30,Fortuna Dusseldorf,Karlsruhe,1,0,H
16,17,D2,2009,2010-01-15,Aachen,Karlsruhe,3,1,H
17,18,D2,2009,2009-10-18,Augsburg,Karlsruhe,1,1,D
18,19,D2,2009,2010-02-05,St Pauli,Karlsruhe,2,1,H
19,20,D2,2009,2009-08-24,Munich 1860,Karlsruhe,1,3,A
20,21,D1,2009,2010-02-06,Bochum,Leverkusen,1,1,D
21,22,D1,2009,2009-11-22,Bayern Munich,Leverkusen,1,1,D
22,23,D1,2009,2010-05-08,M'gladbach,Leverkusen,1,1,D
23,24,D1,2009,2009-08-08,Mainz,Leverkusen,2,2,D
24,25,D1,2009,2009-10-17,Hamburg,Leverkusen,0,0,D
25,26,D1,2009,2010-04-17,Stuttgart,Leverkusen,2,1,H
26,27,D1,2009,2010-03-20,Dortmund,Leverkusen,3,0,H
27,28,D1,2009,2009-10-31,Schalke 04,Leverkusen,2,2,D
28,29,D1,2009,2009-08-22,Freiburg,Leverkusen,0,5,A
29,30,D1,2009,2010-02-21,Werder Bremen,Leverkusen,2,2,D
...,...,...,...,...,...,...,...,...,...
24595,46745,E0,2016,2017-05-06,Swansea,Everton,1,0,H
24596,46746,E0,2016,2017-05-07,Arsenal,Man United,2,0,H
24597,46747,E0,2016,2017-05-07,Liverpool,Southampton,0,0,D
24598,46748,E0,2016,2017-05-08,Chelsea,Middlesbrough,3,0,H
24599,46749,E0,2016,2017-05-10,Southampton,Arsenal,0,2,A
24600,46750,E0,2016,2017-05-12,Everton,Watford,1,0,H
24601,46751,E0,2016,2017-05-12,West Brom,Chelsea,0,1,A
24602,46752,E0,2016,2017-05-13,Bournemouth,Burnley,2,1,H
24603,46753,E0,2016,2017-05-13,Man City,Leicester,2,1,H
24604,46754,E0,2016,2017-05-13,Middlesbrough,Southampton,1,2,A
24605,46755,E0,2016,2017-05-13,Stoke,Arsenal,1,4,A
24606,46756,E0,2016,2017-05-13,Sunderland,Swansea,0,2,A
24607,46757,E0,2016,2017-05-14,Crystal Palace,Hull,4,0,H
24608,46758,E0,2016,2017-05-14,Tottenham,Man United,2,1,H
24609,46759,E0,2016,2017-05-14,West Ham,Liverpool,0,4,A
24610,46760,E0,2016,2017-05-15,Chelsea,Watford,4,3,H
24611,46761,E0,2016,2017-05-16,Arsenal,Sunderland,2,0,H
24612,46762,E0,2016,2017-05-16,Man City,West Brom,3,1,H
24613,46763,E0,2016,2017-05-17,Southampton,Man United,0,0,D
24614,46764,E0,2016,2017-05-18,Leicester,Tottenham,1,6,A
24615,46765,E0,2016,2017-05-21,Arsenal,Everton,3,1,H
24616,46766,E0,2016,2017-05-21,Burnley,West Ham,1,2,A
24617,46767,E0,2016,2017-05-21,Chelsea,Sunderland,5,1,H
24618,46768,E0,2016,2017-05-21,Hull,Tottenham,1,7,A
24619,46769,E0,2016,2017-05-21,Leicester,Bournemouth,1,1,D
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

An important thing to note when using __IS NULL__ and __IS NOT NULL__, a value of zero is not equivalent to a NULL value. A NULL is a missing value and a value of 0 is not a missing value.

This is the end of this tutorial. We have covered how to connect to and query through a SQL database with python. We also discussed what the __WHERE__ statement is and the following filtering techniques that can be used with the __WHERE__ statement:
 - Comparison Operators
 - AND & OR
 - IN BETWEEN & NOT BETWEEN
 - IN
 - LIKE & NOT LIKE
 - IS NULL & IS NOT NULL
 
I encourage you to keep practice using these techniques to gain a deeper understanding of how to filter a SQL table using the __WHERE__ statement.